* {
  outline: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-green-n {
  background: linear-gradient(103.42deg, #339090 3.53%, #0d7f8c 70.21%);
}

.btn-green-g {
  background: linear-gradient(
    103.42deg,
    #339090 3.53%,
    #0d7f8c 25.21%,
    #00272b 94%
  );
}

.btn-green-g:hover {
  opacity: 0.8;
}

.bg-footer {
  background: rgba(13, 127, 140, 0.69);
}

.bg-g-footer {
  background: linear-gradient(
      0deg,
      rgba(154, 209, 215, 0.55),
      rgba(154, 209, 215, 0.55)
    ),
    url(/texturedpattern.png);
}

@layer components {
  .divider-200 {
    @apply border-b border-b-neutral-200;
  }
}
